::-webkit-scrollbar {
  width: 15px;
}
     
::-webkit-scrollbar-track {
  background: #def1ee;
  border-radius: 0px;
  }
     
::-webkit-scrollbar-thumb {
  background: #bcd7d2;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: 'darken';
}

