::-webkit-scrollbar {
  width: 15px;
}
     
::-webkit-scrollbar-track {
  background: #385663;
  border-radius: 0px;
  }
     
::-webkit-scrollbar-thumb {
  background: #607d8b;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bcd7d2;
}

